<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error 404</title>
    <link href="static/css/404.css" rel="stylesheet">
</head>
<body>
<div style="background-image: url('https://i.pinimg.com/474x/4f/1e/91/4f1e91a5cdae7942ff7b57e2222cc9cf--memes-humor.jpg');"></div>
<h1>Error 404</h1>
<p>Isso é uma comunicação de erro pois a Tapioca Homofobica Penadinho Passapaninho Sacola da Americanas Paninho de Porra Fantasma do Dollynho Gasparzinho Arraia albina Calcinha de Veia Voadora Zé Gotinha Foi de Base Fantasma da Série B Espírito do pedreiro do estádio ouviu um Tchplec!</p>
<img src="static/img/tapioca2.jpg" height="40%" width="40%">
</body>
</html>