<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ele vem!</title>
    <link href="static/css/hexa.css" rel="stylesheet">
</head>
<body>
<h1>é um passaro? é um avião? não, é o Hexa do Brasil surrando a Tapioca Homofobica Penadinho Passapaninho Sacola da Americanas Paninho de Porra Fantasma do Dollynho Gasparzinho Arraia albina Calcinha de Veia Voadora Zé Gotinha Foi de Base Fantasma da Série B Espírito do pedreiro do estádio!!</h1>
<p>Hoje o Brasil by Fuleco espanca maceta debulha fode vergasta sova surra casca soca golpeia esbofeteia esmurra açoita amassa desanca esbordoa agride fustiga a Sérvia!!!</p>
<img src="static/img/tapioca.jpg">
<p><3</p>

<a href="{{ url_for('pagina_da_copa') }}">Página da copa</a>


</body>
</html>